<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi lista de sueños</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="my-list.html">Mi Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Registrarme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<hr>

<!--
Crear un formulario con tres campos:
- Nombre completo
- Correo electrónico
- Contraseña
- Confirmar Contraseña
-->

<!-- el atributo action es para enviar
los datos del formulario a otro lugar
donde serán procesados, en este caso
aún no sé a donde van a ser enviados
por eso pongo el #
-->
<div id="my_application" class="container">
    <h2>Las tareas del futuro Frontend</h2>

    <h3>Crea tu cuenta aquí!</h3>

    <form action="#" v-on:submit.prevent="registerUser" autocomplete="off" style="width: 300px">

        <div class="mb-3">
            <label for="full_name" class="form-label">Nombre completo</label>
            <input type="text"
                   id="full_name"
                   name="full_name"
                   placeholder="Ingres su nombre completo"
                   v-model="fullName"
                   class="form-control"
            >
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email"
                   id="email"
                   name="email"
                   placeholder="Ingrese su correo electrónico"
                   v-model="email"
                   class="form-control"
            >
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password"
                   id="password"
                   name="password"
                   ref="password"
                   placeholder="Ingrese contraseña"
                   v-model="password"
                   class="form-control"
            >
        </div>

        <button type="button" v-on:click="showPassword()" class="btn btn-sm btn-warning">
            <span v-if="shownPasswords">Ocultar</span>
            <span v-else>Mostrar</span>
            contraseña
        </button>

        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
            <input type="password"
                   id="confirm_password"
                   name="confirm_password"
                   ref="confirm_password"
                   placeholder="De nuevo contraseña"
                   v-model="confirmPassword"
                   class="form-control"
            >
        </div>

        <span v-if="password !== confirmPassword && confirmPassword !== ''">Las contraseñas no coinciden</span>

        <button type="submit" class="btn btn-primary" v-bind:disabled="password !== confirmPassword">
            Registrarme
        </button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!--
- Botón que permite mostrar la contraseña en los dos campos,
al momento de accionar, debe cambiar el texto del botón por ocultar contraseña
- - 1. Mostrar las contraseñas
- - - 1. Identificar cuáles son los elementos que voy a cambiar
         a través del atributo ref que Vue me ofrece para
         obtener un elemento específico.
- - - 2. Cambiar el tipo de campo de type="password" a type="text"
         en cada uno de los elementos identificados



- - 2. Cambiar el texto de "Mostrar" a "Ocultar".
- y al momento de enviar el formulario, verifique que las contraseñas son iguales
-->
<script>
    // para crear una app en Vue debo hacerlo de la siguiente manera
    // Vue() es una función que recibe un parámetro (variable) de tipo objeto {}
    let app = new Vue({
        // uno de las propiedades necesarias para vue, es la propiedad "el"
        // "el" signifca el contexto de HTML donde se va a conectar la app de Vue

        // vamos a colocar el selector + el identificador del contenedor
        // donde se va a ejecutar Vue
        el: '#my_application',
        // data es mi modelo de datos de mi aplicación
        data: {
            shownPasswords: false,

            fullName: null,
            email: null,

            password: null,
            confirmPassword: null,
        },
        // las funcionalidades van dentro de la propiedad "methods"
        methods: {
            showPassword: function () {
                this.shownPasswords = !this.shownPasswords

                if (this.shownPasswords) {
                    this.$refs.password.type = 'text'
                    this.$refs.confirm_password.type = 'text'
                    return
                }

                this.$refs.password.type = 'password'
                this.$refs.confirm_password.type = 'password'
            },
            registerUser: function () {
                const options = {
                    method: 'POST',
                    headers: {
                        accept: 'application/json',
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        'full_name': this.fullName,
                        'email': this.email,
                        'password': this.password,
                        'confirm_password': this.confirmPassword,
                    }),
                }

                fetch('http://192.168.1.4/api/1.0/todo/users/register', options)
                    .then(response => response.json())
                    .then(response => console.log(response))
                    .catch(err => console.error(err));
            }
        }
    })
</script>
</body>

<!--

La API (servicio, contrato, endpoint) de ToDo
        1. Registrarme
            - Contrato de entrada: nombre completo, email, password, confirmPassword
            - Contrato de salida: Confirmación de registro, Error al registro
                - La contraseña no coincida
                - Correo existente
                - Campos requeridos no enviados
                - Token de acceso
        2. Loguearme
        3. CRUD las tareas
            - Created => Crear una tarea
            - Read => Leer tarea o tareas
            - Update => Editar tarea
            - Delete => Eliminar tareas
        4. Poner activa o inactiva la tarea

        La documentación de las API
        - Contrato de entrada: La información que se suministra al backend
        - Contrato de salida: Los posibles casos que se presente al momento de
            consumir el servicio-endpoint-api.


Elementos que hacen parte de una API
- El dominio: donde está la API, puede ser también una IP
- Versionamiento de la API
- Métodos de conexión:
    - POST (la información viaja oculta), crear un registro
    - GET (la información viaja en la URL, obtener un registro
    - PUT (lo mismo que POST, pero solo es para actualizar, actualizar un registro
    - DELETE (lo mismo PUT pero para eliminar, eliminar un registro
- URL: Nombre del servicio
- Headers: Parámetros adicionales de comunicación
- Body de petición: Contrato de entrada
- Códigos de HTTP: 200 => OK, 422, 500: más info: https://developer.mozilla.org/es/docs/Web/HTTP/Status
- Body de respuesta: Contrato de salida
-->
</html>